<ion-menu contentId="menu-content" menuId="menu-content" side="start">

  <app-header title="Menú"></app-header>

  <ion-content color="azul">

    <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">

      <ion-item [ngClass]="{'active': currentPath === p.url}" [routerLink]="p.url" routerDirection="root" detail color="azul">
        <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
        <ion-label> {{p.title}} </ion-label>
      </ion-item>

    </ion-menu-toggle>

  </ion-content>

  <ion-footer class="ion-no-border safe-p-botton">
    <ion-menu-toggle auto-hide="false" >
      <ion-item class="pointer-cursor" (click)=" singOut()" lines="none"  color="azul">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
        <ion-label slot="end"> Cerrar sesión </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-footer>

</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>
